.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
.formArea{
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formArea > h1{
    color: red;
    font-variant: small-caps;
    font-weight: 900;
}

label{
    font-variant: small-caps;
    margin: 2% 0%;
    font-weight: 500;
    font-size: 2vw;
    text-align: left !important;
}
input{
    padding: 3% 2%;
}
button{
    width: 15%;
    padding: 1% 0%;
    margin-top: 1%;
    border: none;
    background-color: rgb(14, 182, 117);
    color: white;
    font-size: 2vw;
    font-weight: 900;
    font-variant: small-caps;
    border-radius: 5px;
    box-shadow: 0 3px 5px grey;
    transition: all 0.3s ease-in-out;
}
button:hover{
    box-shadow: 0 3px 6px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}